@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  text-decoration-skip-ink: none;
  height: 100%;
}

body {
  font-feature-settings: 'palt' 1;
  -webkit-font-smoothing: antialiased; /* antialiased | subpixel-antialiased */
  -moz-osx-font-smoothing: grayscale; /* grayscale | auto */

  font-size: 1.6rem;
  height: 100%;
  #__next {
    height: 100%;
  }
}